<library path="lib/libhector_rqt_plugins">
  <class name="rqt_image_cropping/ImageCropper" type="rqt_image_cropping::ImageCropper" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to crop an image and republish it.
    </description>
    <qtgui>
      <label>Image Cropper</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin to crop an image and republish it.</statustip>
    </qtgui>
  </class>
</library>
